
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;

  -webkit-overflow-scrolling: touch;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

html {
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 10px;
  /* word-spacing: 1px; */
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

html.modalopened,
body.modalopened {
  // for no-scroll when modal
  overflow: auto;
  height: 100%;
}

body {
  // background-color: #FFF;
  background-color: $color-yellow;
  color: $color-black;
}

a {
  color: $color-black;
  text-decoration: none;
}

.main {
  margin: 0 auto;
  // padding: 0 0 78px;
  padding: $header-height + ($gutter * 2) 0 78px;
}

.main--collection {
  // margin: 0 auto;
  padding: 0 0 78px;
}


h2.page__title {
  font-size: 1.6rem;
  margin: $gutter 0;
  color: $color-text;
  padding: $gutter 0;

  a {
    color: $color-text;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-roboto-slab;
  font-weight: 400;
  // font-family: $font-playfair;
  // font-family: $font-roboto;
}

p {
  font-size: 1.6rem;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  font-size: 1.6rem;
  padding: 0 0 $gutter;
}

ul.list {
  list-style-type: disc;
  margin: 0;
  padding: 0 0 0 3rem;
}

.container {
  max-width: 100%;
  margin: 0 auto;
}

.gutter {
  padding-left: $gutter;
  padding-right: $gutter;
}

.container--flex {
  @include display-flex;
}

p a {
  color: $color-black;
  text-decoration: underline;
  &:hover,
  &:active,
  &:visited {
    color: $color-black-hover;
  }
}

a.button {
  width: 110px;
  // height: 54px;
  padding: 6px 12px;
  color: $color-yellow;
  border: none;
  border-radius: 2px;
  background-color: $color-black;
  margin: 0; //$gutter 0;
  font-size: 1.2rem;
  font-weight: 600;
  text-decoration: none;
  display: inline-block;
  text-align: center;

  &:hover,
  &:active {
    background-color: $color-gray;
    color: $color-white;
  }
}

a.button--buy {
  @extend a.button;
  color: $color-black;
  border: 1px solid #CCC;
  background: none;

  &:hover,
  &:active {
    background-color: $color-black;
    border-color: $color-black;
    color: #fff;
  }
}

button {

  &:hover,
  &:active {
    cursor: pointer;
  }
}

a.button--disabled {
  border-color: #cccccc;
  color: #cccccc;

  &:hover,
  &:active {
    background-color: #ffffff;
    border-color: #cccccc;
    color: #cccccc;
  }
}


.tags {
  padding: $gutter / 1.5 0 0;
  span {
    display: inline-block;
    padding: 4px 8px;
    margin: 0;
    background-color: $color-black;
    color: $color-yellow;
    border-radius: 4px;
    font-size: 1rem;
  }
}



.page-enter-active,
.page-leave-active {
  transition: opacity 0.2s;
}

.page-enter,
.page-leave-active {
  opacity: 0;
}


.layout-enter-active,
.layout-leave-active {
  transition: opacity 0.2s;
}

.layout-enter,
.layout-leave-active {
  opacity: 0;
}

.qp-fade-enter-active,
.qp-fade-leave-active {
  transition: opacity 10.3s ease;
}

.qp-fade-enter,
.qp-fade-leave-to {
  opacity: 0;
}



.grecaptcha-badge {
  position: relative !important;
  margin: $gutter auto !important;
  right: unset !important;
  left: unset !important;
  // display: none!important;
}




// Small devices (landscape phones, 576px and up)
@media (min-width: $screen__s) {
  .container {
    max-width: $screen__s;
  }

  //
}

// Medium devices (tablets, 768px and up)
@media (min-width: $screen__m) {
  .container {
    max-width: $screen__m;
  }

  .main {
    padding-top: $header-height--m + ($gutter * 2);
  }
}
 

// Large devices (desktops, 992px and up)
@media (min-width: $screen__l) {
  .main {
    padding-top: $header-height--l + ($gutter * 2);
  }
}


@media (prefers-color-scheme: dark) {


  body {
    // background-color: #FFF;
    background-color: $color-black;
    color: $color-yellow;
  }


  a.button {
    color: $color-black;
    background-color: $color-yellow;
  }



}