// font
// @import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

//container 
// for mobile 
$screen__xxs: 320px;
$screen__xs: 480px;
$screen__s: 576px;
$screen__m: 768px;

// desktop 
$screen__l: 1024px;
$screen__xl: 1280px;
$screen__xxl: 1440px;

// layout, space
$gutter: 15px;

$header-height: 28px;
$header-height--m: 42px;


//  Color
//  ---------------------------------------------
$color-white: #ffffff;
$color-black: #222222;
$color-gray: #666666;
$color-light-gray: #dddddd;
$color-blue: #1791d1;
$color-link: #1791d1;
$color-link-hover: #1818b5;

$color-link: #08c1d1;
$color-link-hover: #0092ab; //hover
$color-link-text: #0092ab;
$color-link-darker: #4c5b66; //darker
$color-text: #005b5d;
$color-text-mid: #5f7b7c;
$color-text-pale: #85a5a6;
$color-price: #50891f;
$color-navy: #033c75;
$color-red: #d22420;
$color-orange: #ff6600;
$color-orange-hover: #ff2a00;
$color-blue: #0092ab;
$color-pale-blue: #ddf2ff;
$color-yellow: #e2c200;



//  _____________________________________________
// Fonts
// ---------------------------------------------

// Web Font Family
// $Roboto: 'Roboto', sans-serif;
// $Oswald: 'Oswald', sans-serif;

// // normal
// @mixin font-Roboto-400 {
//   font-family: 'Roboto', sans-serif;
//   font-weight: 400;
// }

// @mixin font-Roboto-700 {
//   font-family: 'Roboto', sans-serif;
//   font-weight: 700;
// }

// //compressed style
// @mixin font-Oswald-300 {
//   font-family: 'Oswald', sans-serif;
//   font-weight: 300;
// }

// @mixin font-Oswald-500 {
//   font-family: 'Oswald', sans-serif;
//   font-weight: 500;
// }



// control
// ----------------------------------------------
@mixin button-hover {
  background-color: $color-link-hover;
}

@mixin button {
  color: #FFF;
  background-color: $color-link;
  border: none;
  border-radius: 5px;
  box-shadow: none;
  &:hover {
    @include button-hover
  }
}



// gradient, filter
// ----------------------------------------------

@mixin gradient-up {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: $gutter $gutter $gutter * 1.2;
  background: linear-gradient(0, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100%)
}


@mixin gradient-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: $gutter * 1.2 $gutter $gutter;
  background: linear-gradient(0, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%)
}


@mixin gradient-bottom-white {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: $gutter * 1.2 $gutter $gutter;
  background: linear-gradient(0, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0) 100%)
}

@mixin gradient-bottom-small {
  @include gradient-bottom;
  padding: $gutter * 1.2 $gutter $gutter;
}

@mixin backdrop-blur {
  -webkit-backdrop-filter: saturate(180%) blur(6px);
  -moz-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
}



// ----------------------------------------------
// layout, grid
// ----------------------------------------------

@mixin display-flex {
  display: flex;
}

@mixin display-flex-wrap {
  display: flex;
  flex-wrap: wrap;
}
@mixin flex-2 { 
  flex-basis: 50%;
}
@mixin flex-3 { 
  flex-basis: 33.333%;
}
@mixin flex-4 { 
  flex-basis: 25%;
}
@mixin flex-5  { 
  flex-basis: 20%;
}
@mixin flex-6 { 
  flex-basis: 16.666%;
}
@mixin flex-7 { 
  flex-basis: 14.285%;
}
@mixin flex-8 { 
  flex-basis: 12.5%;
}
@mixin flex-9 { 
  flex-basis: 11.111%;
}
@mixin flex-10 { 
  flex-basis: 10%;
}
@mixin flex-12 { 
  flex-basis: 8.333%;
}
@mixin flex-14 { 
  flex-basis: 7.14%;
}
@mixin flex-15 { 
  flex-basis: 6.666%;
}

@mixin flex-16 { 
  flex-basis: 6.25%;
}

@mixin flex-18 { 
  flex-basis: 5.55%;
}

@mixin flex-20 { 
  flex-basis: 5%;
}
@mixin flex-24 { 
  flex-basis: 4.166%;
}


@mixin flex-2-gutter {
  @include flex-2; // flex-basis: 50%;
  &:nth-child(even) {
    padding-left: ($gutter/2);
    padding-right: 0;
  }
  &:nth-child(odd) {
    padding-right: ($gutter/2);
    padding-left: 0;
  }
}

@mixin flex-3-gutter {
  @include flex-3;//flex-basis: 33.333%;
  &:nth-child(3n + 1) {
    padding-left: 0;
    padding-right: ($gutter/3*2);
  }
  &:nth-child(3n + 2) {
    padding-left: ($gutter/3*1);
    padding-right: ($gutter/3*1);
  }
  &:nth-child(3n + 3) {
    padding-left: ($gutter/3*2);
    padding-right: 0;
  }
}

@mixin flex-4-gutter {
  @include flex-4;//flex-basis: 25%;
  &:nth-child(4n + 1) {
    padding-left: 0;
    padding-right: ($gutter/4*3);
  }
  &:nth-child(4n + 2) {
    padding-left: ($gutter/4*1);
    padding-right: ($gutter/4*2);
  }
  &:nth-child(4n + 3) {
    padding-left: ($gutter/4*2);
    padding-right: ($gutter/4*1);
  }
  &:nth-child(4n + 4) {
    padding-left: ($gutter/4*3);
    padding-right: 0;
  }
}

@mixin flex-5-gutter {
  @include flex-5;//flex-basis: 20%;
  &:nth-child(5n + 1) {
    padding-left: 0;
    padding-right: ($gutter/5*4);
  }
  &:nth-child(5n + 2) {
    padding-left: ($gutter/5*1);
    padding-right: ($gutter/5*3);
  }
  &:nth-child(5n + 3) {
    padding-left: ($gutter/5*2);
    padding-right: ($gutter/5*2);
  }
  &:nth-child(5n + 4) {
    padding-left: ($gutter/5*3);
    padding-right: ($gutter/5*1);
  }
  &:nth-child(5n + 5) {
    padding-left: ($gutter/5*4);
    padding-right: 0;
  }
}

@mixin flex-6-gutter {
  @include flex-6;//flex-basis: 16.666%;
  &:nth-child(6n + 1) {
    padding-left: 0;
    padding-right: ($gutter/6*5);
  }
  &:nth-child(6n + 2) {
    padding-left: ($gutter/6*1);
    padding-right: ($gutter/6*4);
  }
  &:nth-child(6n + 3) {
    padding-left: ($gutter/6*2);
    padding-right: ($gutter/6*3);
  }
  &:nth-child(6n + 4) {
    padding-left: ($gutter/6*3);
    padding-right: ($gutter/6*2);
  }
  &:nth-child(6n + 5) {
    padding-left: ($gutter/6*4);
    padding-right: ($gutter/6*1);
  }
  &:nth-child(6n + 6) {
    padding-left: ($gutter/6*5);
    padding-right: 0;
  }
}

@mixin flex-8-gutter {
  @include flex-8;//flex-basis: 12.5%;
  &:nth-child(8n + 1) {
    padding-left: 0;
    padding-right: ($gutter/8*7);
  }
  &:nth-child(8n + 2) {
    padding-left: ($gutter/8*1);
    padding-right: ($gutter/8*6);
  }
  &:nth-child(8n + 3) {
    padding-left: ($gutter/8*2);
    padding-right: ($gutter/8*5);
  }
  &:nth-child(8n + 4) {
    padding-left: ($gutter/8*3);
    padding-right: ($gutter/8*4);
  }
  &:nth-child(8n + 5) {
    padding-left: ($gutter/8*4);
    padding-right: ($gutter/8*3);
  }
  &:nth-child(8n + 6) {
    padding-left: ($gutter/8*5);
    padding-right: ($gutter/8*2);
  }
  &:nth-child(8n + 7) {
    padding-left: ($gutter/8*6);
    padding-right: ($gutter/8*1);
  }
  &:nth-child(8n + 8) {
    padding-left: ($gutter/8*7);
    padding-right: 0;
  }
}
