.work__detail {
  padding-bottom: $gutter * 2;
  border-bottom: 1px double $color-black;
}

.work__detail + .group {
  margin-top: $gutter * 3;
}
h1.work__title {
  padding: $gutter 0;
  font-size: 2.1rem;
  font-weight: 400;
}

.work__description {
  padding: 0 0 $gutter;
  ul.featured {
    list-style: circle;
    padding: $gutter 0 $gutter 2em;
  }

  p {
    font-size: 1.4rem;
  }
  p + p {
    margin-top: $gutter;
  }
}
.tags {
  padding: 0 0 $gutter;
  span {
    margin-right: $gutter / 5;
    // border: solid 1px $color-black;
  }
}
.works__cover {
  padding: 0 0 $gutter;
}

.works__images {
  display: flex;
  flex-wrap: wrap;
  padding: 0 0 $gutter;
  .img {
    @include flex-2-gutter;
    margin-bottom: $gutter;
    &.img--full {
      @include flex-1;
      padding: 0;
    }
  }
  // .img + .img {
  //   margin-top: $gutter;
  // }
}

.back-to-home {
  margin-top: $gutter * 2;
}

.other-works {
  h3 {
    font-size: 1.6rem;
    padding: $gutter 0;
  }
}

// ul.works__list {
//   display: flex;
//   flex-wrap: wrap;
//   li {
//     flex-basis: 50%;
//   }
// }

@media (prefers-color-scheme: dark) {
  .tags {
    padding: 0 0 $gutter;
    span {
      // background-color: $color-yellow;
      // color: $color-black;
      border: solid 1px $color-yellow;
    }
  }
}
