
RewriteEngine On

# unify www
# RewriteCond %{HTTP_HOST} ^www\.dskymd\.com
# RewriteRule (.*) https://dskymd.com/$1 [R=301,L]

RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [R,L] 


RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^.*$ 200.html
